#contenedor {
  width: 450px;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
}

form {
  width: 400px;
  padding: 10px;
  margin: auto;
}

label {
  color: #6F7075;
  margin: 0;
  font-size: 14px;
}

input.form-control {
  border: none;
  border-bottom: 1px solid #6F7075;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  color: black;
}

select {
  border: 1px solid #6F7075;
}

input.form-control:focus {
  border-bottom: 2px solid var(--blue-cobli);
  transition: border-bottom-color 0.1s ease-in-out;
}

.tamInput {
  width: 100%;
}

#pass {
  float: right;
  color: #0029FF;
}

.borde {
  border-radius: 5px;
  border: 2px solid var(--blue-background-cobli);
  padding: 20px;
}

.titulo {
  left: 20px;
  top: -10px;
  background-color: white;
  padding: 0px 5px;
}

p {
  font-size: 13px;
  color: #0029FF;
}


h5 {
  background-color: var(--blue-background-cobli);
  padding: 5px 10px;
}
