<div id="contenedor" class="container-fluid pt-4 ps-5 pe-5">
  <div class="pe-5">
    <div class="row justify-content-between mb-2 position-relative">
      <div class="width-auto">
        <img (click)="clearCanvas()"  class="me-3 cursor-pointer" src="../../../assets/img/cruz.svg">
        <img [title]="!isLogged ? 'Debe iniciar sesión para guardar el proyecto' : null"
        [ngClass]="{'disabled': !isLogged, 'cursor-pointer': isLogged}" (click)="saveProject()" src="../../../assets/img/guardar.svg">
      </div>
      <div class="width-auto">
        <input *ngIf="isLogged" #projectName placeholder="Nuevo proyecto" (input)="setProjectName()" (keydown)="onKeyDown($event)" id="projectTitle" type="text">
      </div>
      <div class="width-auto">
        <!-- <img id="lupaMenos" class="disabled" src="../../../assets/img/lupaMenos.svg">
        <img id="lupaMas" class="ms-2 disabled" src="../../../assets/img/lupaMas.svg"> -->
        <img (click)="showFilters()" class="ms-2 cursor-pointer" src="../../../assets/img/filtros.svg">
      </div>
      <div #filters class="position-absolute filters ocultar">
        <div class="mb-3">
          <label class="me-3 mb-2" for="color">Tipo de daltonismo</label>
          <select [(ngModel)]="filter" (change)="filterImage()" name="color">
            <option value="-" selected>-</option>
            <option value="rv1">Verde-Rojo 1</option>
            <option value="rv2">Verde-Rojo 2</option>
            <option value="av">Azul-Verde</option>
          </select>
        </div>
        <div *ngIf="filter !== '-'" class="justify-content-center">
          <div class="row d-flex mb-2">
            <label for="lum" class="form-label tamLabel" style=>Luminosidad</label>
            <input (input)="filtersLSC()" #lumFilter type="range" min="0" max="100" value="50" class="form-range sliderFiltrosImg" id="lum">
            <div class="width-auto">{{lumFilter.value}}</div>
          </div>
          <div class="row d-flex mb-2">
            <label for="sat" class="form-label tamLabel" style=>Saturación</label>
            <input (input)="filtersLSC()" #satFilter type="range" min="0" max="100" value="50" class="form-range sliderFiltrosImg" id="sat">
            <div #satFilterValue class="width-auto">{{satFilter.value}}</div>
          </div>
          <div class="row d-flex mb-2">
            <label for="contraste" class="form-label tamLabel" style=>Contraste</label>
            <input (input)="filtersLSC()" #contrastFilter type="range" min="0" max="100" value="50" class="form-range sliderFiltrosImg" id="contraste">
            <div #contrastFilterValue class="width-auto">{{contrastFilter.value}}</div>
          </div>
        </div>
        <div class="justify-content-center d-flex">
          <button type="button" (click)="closeFilters()" class="btn btn-secondary">Cerrar</button>
        </div>
      </div>
    </div>
    <div id="ventana" class="d-flex justify-content-center align-items-center">
      <div *ngIf="(!editar && !saved) || clear" id="inputFile" #inputFile>
        <label for="upload"><img src="../../../assets/img/uploadImg.svg"></label>
        <input #fileUpload (change)="uploadPic($event)" #imageUploaded type="file" name="photo" id="upload" />
      </div>
      <div id="tagContainer"></div>
      <canvas id="canvas"></canvas>
    </div>
  </div>
  <div class="col">
    <div class="info row justify-content-between mb-4">
      <div class="col-6">
        <div>
          <div class="row d-flex align-items-center" style="margin-bottom: 10px">
            <h5 class="width-auto" style="margin: 0 !important;">Zoom</h5>
            <img id="imgHelpZoom" (click)="showHelp('imgHelpZoom')" class="width-auto cursor-pointer" style="padding: 0" src="../../../assets/img/help.svg">
          </div>
          <canvas id="canvas2"></canvas>
        </div>
        <div>
          <div class="row d-flex align-items-center" style="margin-bottom: 10px">
            <h5 class="width-auto" style="margin: 0 !important;">Color medio</h5>
            <img id="imgHelpColorZoom" (click)="showHelp('imgHelpColorZoom')" class="width-auto cursor-pointer" style="padding: 0" src="../../../assets/img/help.svg">
          </div>
          <div id="colorAvg" #colorAvg style="width: 100px; height:100px"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="row align-items-center mb-4">
          <div class="row align-items-center mb-4">
            <h6 class="me-2 PoppinsBold descripcion">
              Color
            </h6>
            <div #colorName class="valor PoppinsRegular">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <h6 class="me-2 PoppinsBold descripcion">
              Claridad
            </h6>
            <div #brightness class="valor PoppinsRegular">
            </div>
          </div>
          <h6 class="me-2 PoppinsBold descripcion">
            Hex
          </h6>
          <div #hex class="valor PoppinsRegular">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            RGB
          </h6>
          <div #rgb class="valor PoppinsRegular">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            HSL
          </h6>
          <div #hsl class="valor PoppinsRegular">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            HSV
          </h6>
          <div #hsv class="valor PoppinsRegular">
          </div>
        </div>
      </div>
    </div>
    <div id="conten" class="row justify-content-between">
      <div class="col">
        <h6 id="posModal" class="PoppinsBold mb-3">Etiquetas de colores</h6>
        <div class="seccion etiquetas">
          <div class="mb-3">
            <label class="me-3" for="color">Filtrar por color</label>
            <select [(ngModel)]="selectedColor" name="color">
              <option value="-" selected>-</option>
              <option value="Rojo">Rojo</option>
              <option value="Rosa">Rosa</option>
              <option value="Marrón">Marrón</option>
              <option value="Naranja">Naranja</option>
              <option value="Amarillo">Amarillo</option>
              <option value="Verde">Verde</option>
              <option value="Azul">Azul</option>
              <option value="Morado">Morado</option>
              <option value="Blanco">Blanco</option>
              <option value="Gris">Gris</option>
              <option value="Negro">Negro</option>
            </select>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th style="width: 75px" scope="col">Hex</th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="cursor-pointer" (click)="showTagValues(tag.id)" *ngFor="let tag of getFilteredTags(selectedColor); let i = index" (mouseenter)="showImage(i)" (mouseleave)="hideImage(i)">
                <th scope="row">{{tag.id}}</th>
                <td>{{tag.hex}}</td>
                <td><input #descriptionValue title="{{tag.description}}"type="text" id="description" (keydown)="onKeyDown($event)" (change)="updateDescription(i)" placeholder="Escribe una descripción" [value]="tag.description"></td>
                <td id="divImagen">
                  <img (click)="copyText(tag.hex); $event.stopPropagation()" #tagC class="ocultar me-2 cursor-pointer" src="../../../assets/img/copy.png">
                  <img (click)="deleteTag(tag.id, i); $event.stopPropagation()" #tagD class="ocultar cursor-pointer" src="../../../assets/img/cruz.svg">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div class="row d-flex align-items-center" style="margin-bottom: 10px">
          <h6 class="PoppinsBold width-auto" style="margin: 0 !important;">Sistema HSL</h6>
          <img id="imgHelpHsl" (click)="showHelp('imgHelpHsl')" class="width-auto cursor-pointer" style="padding: 0" src="../../../assets/img/help.svg">
        </div>
        <div class="seccion hsl">
          <div class="mb-3">
            <label class="me-3" for="color">Color</label>
            <input (input)="colorFilter()" id="color" #color placeholder="Ejemplo: azul" type="text" name="color">
          </div>

          <div id="colorPickerContainer" class="mb-3">
            <div class="bgColors"></div>
            <p class="cursor-pointer" id="pickerTop">&#x25BC;</p>
            <p class="cursor-pointer" id="pickerBottom">&#x25B2;</p>
          </div>
          <div>
            <div class="col">
              <div class="row d-flex mb-2">
                <label for="saturacion" class="form-label tamLabel" style=>Saturación</label>
                <input (input)="colorFilter();" #saturation type="range" min="0" max="100" value="100" class="form-range sliderFiltros" id="saturacion">
                <div class="width-auto">{{saturation.value}}</div>
              </div>
              <div class="row d-flex mb-2">
                <label for="luminosidad" class="form-label tamLabel" style=>Luminosidad</label>
                <input (input)="colorFilter();" #luminosity type="range" min="0" max="100" value="50" class="form-range sliderFiltros" id="luminosidad">
                <div class="width-auto">{{luminosity.value}}</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div #muestra id="muestra" class="mb-3 justify-content-center">
            </div>
            <div class="row">
              <h6 class="width-auto">Hex</h6>
              <div id="hexadecimal" #hexadecimal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
