<div *ngIf="image" id="contenedor" class="container-fluid p-5">
  <div class="pe-5">
    <div class="row justify-content-between mb-2">
      <div class="width-auto">
        <img class="me-3" src="../../../assets/img/cruz.svg">
        <img src="../../../assets/img/guardar.svg">
      </div>
      <div class="width-auto">
        <img id="lupaMenos" src="../../../assets/img/lupaMenos.svg">
        <img id="lupaMas" class="ms-2" src="../../../assets/img/lupaMas.svg">
        <img class="ms-2" src="../../../assets/img/filtros.svg">
      </div>
    </div>
    <div id="ventana" class="d-flex justify-content-center">
      <div id="tagContainer"></div>
      <canvas id="canvas"></canvas>
      <!-- <div style="z-index: 4" width="400" height="400">HOLA</div> -->
    </div>
  </div>
  <div class="col">
    <div class="info row justify-content-between mb-4">
      <div class="col-6">
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            Color
          </h6>
          <div class="valor">
          </div>
        </div>
        <div class="row mb-2 align-items-center">
          <h6 class="me-2 PoppinsBold descripcion">
            Claridad
          </h6>
          <div class="valor">
          </div>
        </div>
        <div>
          <canvas id="canvas2"></canvas>
        </div>
      </div>
      <div class="col-6">
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            Hex
          </h6>
          <div class="valor">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            RGB
          </h6>
          <div class="valor">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            HSL
          </h6>
          <div class="valor">
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <h6 class="me-2 PoppinsBold descripcion">
            HSV
          </h6>
          <div class="valor">
          </div>
        </div>
      </div>
    </div>
    <div id="conten" class="row justify-content-between">
      <div class="col">
        <h6 class="PoppinsBold mb-3">Etiquetas de colores</h6>
        <div class="seccion etiquetas">
          <div class="mb-3">
            <label class="me-3" for="color">Color</label>
            <select name="color">
              <option value="rojo">Rojo</option>
              <option value="azul">Azul</option>
              <option value="azul">Marron</option>
            </select>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Hexadecimal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <h6 class="PoppinsBold mb-3">Sistema HSL</h6>
        <div class="seccion hsl">
          <div class="mb-3">
            <label class="me-3" for="color">Color</label>
            <input id="color" #color placeholder="Introduce un color" type="text" name="color">
          </div>

          <div id="colorPickerContainer" class="mb-3">
            <div class="bgColors"></div>
            <p class="cursor-pointer" id="pickerTop">&#x25BC;</p>
            <p class="cursor-pointer" id="pickerBottom">&#x25B2;</p>
          </div>
          <div>
            <div class="col">
              <div class="row d-flex mb-2">
                <label for="luminosidad" class="form-label tamLabel" style=>Luminosidad</label>
                <input type="range" min="0" max="100" value="32" class="form-range sliderFiltros" id="luminosidad">
                <div class="width-auto">32</div>
              </div>
              <div class="row d-flex mb-2">
                <label for="saturacion" class="form-label tamLabel" style=>Saturación</label>
                <input type="range" min="0" max="100" value="11" class="form-range sliderFiltros" id="saturacion">
                <div class="width-auto">11</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div #muestra id="muestra" class="mb-3 justify-content-center">
            </div>
            <div class="row">
              <h6 class="width-auto">Hex</h6>
              <div id="hexadecimal" #hexadecimal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
