#ventana {
  background: #F8F8F8;
  border: 2px dashed black;
  border-radius: 5px;
  width: 100%;
  height: 720px;
}

.imgCentrada{
  align-self: center;
}

.valor {
  border: 1px solid black;
  width: 175px;
  height: 40px;
  border-radius: 5px;
}

.info {
  width: 100%;
}

#contenedor {
  display: flex;
}

#contenedor > :first-child {

  width: 55%;
  flex-basis: 55%;
}

#contenedor > :last-child {
  width: 45%;
  flex-basis: 45%;
}

#conten {
  display: flex;
}

#conten > :first-child {

  width: 47%;
  flex-basis: 47%;
}

#conten > :last-child {
  width: 52%;
  flex-basis: 52%;
}


.descripcion {
  width: 110px;
}

thead {
  background-color: var(--blue-background-cobli);
}

select {
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
}

.seccion {
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px;
}

.etiquetas {
  height: 440px;
}

.hsl {
  height: 400px;
}

#spectrum {
  border:1px solid #d3d3d3;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  border: none;
  border:solid 1px #ccc;
  border-radius: 5px;
  padding-left: 10px;
}

input:focus
{
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;
}

canvas {
  width: 100%;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  appearance: none;
  height: 15px;
  border-radius:20px;
  background: #434343;
}

.sliderFiltros {
  width: 60%;
}


.width-auto {
  width: auto;
  padding-left: 10px;
}

.tamLabel {
  width: 115px;
}
