.carousel-caption {
  color: black;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.bgAzulCobli {
  background-color: var(--blue-background-cobli);
}

.carousel-inner {
  height: 100%;
}

.carousel-item.active {
  height: 100%;
  display: flex ;
}

#carouselExampleCaptions {
  background-color: var(--blue-background-cobli);
  height: 811px;
}

.bocadillo {
  padding: 10px 20px;
  width: max-content;
  border-radius: 5px;
  max-width: 335px;
  font-size: medium;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.posicion {
  width: 582px;
  top: 20%;
  right: 22%;
}

.max-content {
  max-width: 700px;
  text-align: start;
}

.marginDiv {
  margin-top: 3%;
}

.cabeza {
  width: 430px;
}

.centrarImagen {
  display: block;
  margin: auto;
}

.maxWidth {
  max-width: 1100px;
}

#botonEmpezar {
  margin-left: 30%;
  background-color: white;
  border: white;
}

.nums {
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  width: 25px;
  font-weight: 500;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#num1 {
  top: 158px;
  right: 405px;
}

#num2 {
  top: 400px;
  right: 185px;
}

#num3 {
  top: 75px;
  right: 459px;
}

#flechaPin {
  top: 157px;
  left: 593px;
}

.caracteristica {
  min-width: 100px;
  width: auto;
  text-align: start;
}

#tabla {
  top: 301px;
  left: 365px;
  background-color: white;
  padding: 25px 45px 15px 30px;
  border-radius: 5px;
}

.valor {
  min-width: 150px;
  width: auto;
  border: 1.5px solid var(--grey-border-cobli);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
}

.tamIcono {
  width: 45px;
  height: auto;
}

.tamFlecha {
  width: 10px;
  height: 10px;
}


h6 {
  width: auto;
  text-align: center;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
}

.tags {
  top: 380px;
}

.tagsContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
  -moz-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
}

#color {
  width: auto;
  text-align: start;
  margin-right: 10px;
  margin-bottom: 0;
}

.selector {
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  margin: 0;
  padding: 5px 15px;
}

#selectorColor {
  border: 1.5px solid var(--grey-border-cobli);
  width: auto;
  background-color: white;
}

#selectorBl {
  width: 150px;
}

.sliderFiltros {
  width: 250px;
}

.labelFiltros {
  width: 115px;
  text-align: start;
}
.width-auto {
  width: auto;
}

#tableContainer {
  border-radius: 6px;
  overflow: hidden;
}

.mr-2 {
  margin-right: 20px;
}
.ml-2 {
  margin-left: 20px;
}

tbody tr:nth-child(1) {
  background-color: #E3ECFF;
}

.text-justify {
  text-align: justify;
}

.shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
  -moz-box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  appearance: none;
  height: 15px;
  border-radius:20px;
  background: #434343;
}
