<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-interval="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block ">
          <div class="row marginDiv">
            <div class="col d-flex align-items-center maxWidth position-relative">
              <img class="cabeza centrarImagen margin-auto" src="../../../assets/img/cabeza.svg">
              <div class="posicion position-absolute">
                <div class="fila mb-3">
                  <div class="PoppinsSemiBold bocadillo shadow" style="background-color: #B7ABFF;">
                    No sé si esto quedará bien
                  </div>
                  <div class="PoppinsSemiBold bocadillo shadow" style="background-color: #ABE6FF;">
                    Esto es rojo o marrón?
                  </div>
                </div>
                <div class="fila mb-3 ">
                  <div class="PoppinsSemiBold bocadillo shadow" style="background-color: #FF9E9E;">
                    De qué color es esto? <span class="Emoji">🤔</span>
                  </div>
                  <div class="PoppinsSemiBold bocadillo shadow" style="background-color: #9FCCBF;">
                    No veo bien la paleta de colores <span class="Emoji">😔</span>
                  </div>
                </div>

                <div class="PoppinsSemiBold bocadillo shadow" style="background-color: #ACC774; float: none; margin: 0 auto;">
                  El fondo del banner tiene que ser azul claro y las hojas verde oscuro!
                </div>
              </div>
            </div>
            <div class="row max-content">
              <div class="col d-flex align-items-center">
                <div class="col limit">
                  <h1 class="PoppinsBold mb-3">¡Acierta con los colores!</h1>
                  <h3 class="PoppinsMedium mb-3">Si tienes daltonismo y trabajas con colores, esta aplicación web es para ti</h3>
                  <h5 class="PoppinsMedium mb-5">Deja atrás las confusiones y elige el color adecuado</h5>
                    <button type="button" class="btn text-black" routerLink="/editor" id="botonEmpezar">Probar ahora</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/bgSlider2.svg" class="d-block position-absolute" alt="fondoSlider" style="z-index: 0;">
      <div class="carousel-caption d-none d-md-block">
        <div class="row marginDiv">
          <div class="col maxWidth position-relative" style="padding-left: 230px">
            <img id="ejemplo" src="../../../assets/img/ejemplo.png" style="width: 500px;">
            <div class="nums position-absolute" id="num1">1</div>
            <div class="nums position-absolute" id="num2">2</div>
            <div class="nums position-absolute" id="num3">3</div>
            <img class="position-absolute" id="flechaPin" src="../../../assets/img/flechapin.svg">
            <div class="col position-absolute shadow" id="tabla">
              <div class="row d-flex mb-2">
                <p class="PoppinsSemiBold caracteristica">Color</p>
                <p class="PoppinsMedium valor">Azul</p>
              </div>
              <div class="row d-flex mb-2">
                <p class="PoppinsSemiBold caracteristica">Claridad</p>
                <p class="PoppinsMedium valor">Oscuro</p>
              </div>
              <div class="row d-flex mb-2">
                <p class="PoppinsSemiBold caracteristica">Hex</p>
                <p class="PoppinsMedium valor">#091837</p>
              </div>
              <div class="row d-flex mb-2">
                <p class="PoppinsSemiBold caracteristica">RGB</p>
                <p class="PoppinsMedium valor">rgb(9, 35, 55)</p>
              </div>
              <div class="row d-flex mb-2">
                <p class="PoppinsSemiBold caracteristica">HSL</p>
                <p class="PoppinsMedium valor">hsl(220, 72%, 13%)</p>
              </div>
              <div class="row d-flex">
                <p class="PoppinsSemiBold caracteristica">HSV</p>
                <p class="PoppinsMedium valor">hsv(50, 100, 100)</p>
              </div>
            </div>
          </div>
          <div class="row max-content">
            <div class="col d-flex">
              <div class="col">
                <h3 class="PoppinsMedium mb-3">Escoge el color con precisión</h3>
                <h5 class="PoppinsRegular mb-2 text-justify">El sistema ofrece múltiples opciones para obtener descripciones de colores, tanto en un lenguaje informal como técnico</h5>
                <div class="row">
                  <img src="../../../assets//img/checked.svg" class="tamIcono">
                  <h6 class="PoppinsRegular">Sistema de nombres comunes</h6>
                </div>
                <div class="row">
                  <img src="../../../assets//img/checked.svg" class="tamIcono">
                  <h6 class="PoppinsRegular">Código hexadecimal</h6>
                </div>
                <div class="row">
                  <img src="../../../assets//img/checked.svg" class="tamIcono">
                  <h6 class="PoppinsRegular">Código RGB</h6>
                </div>
                <div class="row">
                  <img src="../../../assets//img/checked.svg" class="tamIcono">
                  <h6 class="PoppinsRegular">Código HSL</h6>
                </div>
                <div class="row">
                  <img src="../../../assets//img/checked.svg" class="tamIcono">
                  <h6 class="PoppinsRegular">Código HSV</h6>
                </div>
              </div>
              <div class="position-absolute tags">
                <h5>Etiquetas de colores</h5>
                <div class="row">
                  <div class="tagsContent" style="max-width: max-content;">
                    <div class="d-flex mb-3">
                      <p class="PoppinsSemiBold d-flex align-items-center" id="color">Color</p>
                      <p class="PoppinsMedium selector" id="selectorColor">Todos<img src="../../../assets//img/flechaPico.svg" class="tamFlecha" style="margin-left: 5px;"></p>
                    </div>
                      <table class="table">
                        <thead class="bgAzulCobli">
                          <tr>
                            <th scope="col">Num</th>
                            <th scope="col">Hexadecimal</th>
                            <th scope="col"> </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>#091837</td>
                            <td>
                              <img class="mr-2" src="../../../assets/img/copiar.svg">
                              <img src="../../../assets/img/cruz.svg">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>#361817</td>
                            <td>
                              <img class="mr-2" src="../../../assets/img/copiar.svg">
                              <img src="../../../assets/img/cruz.svg">
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>#2B2B3E</td>
                            <td>
                              <img class="mr-2" src="../../../assets/img/copiar.svg">
                              <img src="../../../assets/img/cruz.svg">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="ml-2" style="max-width: 350px;">
                    <p class="PoppinsRegular text-justify">Al hacer clic en cualquier punto de la imagen, se generará una etiqueta con el color correspondiente al punto seleccionado.</p>
                    <p class="PoppinsRegular text-justify">A partir de esta etiqueta, se podrán realizar dos acciones: copiar o eliminar.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/bgSlider3.svg" class="d-block position-absolute" alt="fondoSlider" style="z-index: 0;">
      <div class="carousel-caption d-none d-md-block">
        <div class="row marginDiv">
          <div class="col" style="text-align: start; padding-left: 336px;">
            <h3 class="PoppinsMedium mb-3" style="width: 600px;">Aplica filtros para ayudarte a distinguir los colores</h3>
            <h5 class="PoppinsRegular text-justify" style="max-width: 550px; padding-bottom: 50px">Se han agregado filtros para facilitar la distinción de los colores, así como controles para ajustar la imagen de acuerdo a tus necesidades visuales</h5>
            <div class="tagsContent" style="width: 430px">
              <p class="PoppinsMedium selector bgAzulCobli mb-3" id="selectorBl">Trinomalía<img src="../../../assets//img/flechaPico.svg" class="tamFlecha" style="margin-left: 5px;"></p>
              <div class="col">
                <div class="row mb-2">
                  <label for="luminosidad" class="form-label labelFiltros" style=>Luminosidad</label>
                  <input type="range" disabled min="0" max="100" value="32" class="form-range sliderFiltros" id="luminosidad">
                  <div class="width-auto">32</div>
                </div>
                <div class="row mb-2">
                  <label for="saturacion" class="form-label labelFiltros" style=>Saturación</label>
                  <input type="range" disabled min="0" max="100" value="11" class="form-range sliderFiltros" id="saturacion">
                  <div class="width-auto">11</div>
                </div>
                <div class="row mb-2">
                  <label for="contraste" class="form-label labelFiltros" style=>Contraste</label>
                  <input type="range" disabled min="0" max="100" value="80" class="form-range sliderFiltros" id="contraste">
                  <div class="width-auto">80</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex position-relative">
            <img class="position-absolute" src="../../../assets/img/ejemploSinFiltros.png" width="230px" style="left: -165px;">
            <img class="position-absolute" src="../../../assets/img/ejemploConFiltros.png" width="230px" style="left: 180px;">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/bgSlider4.svg" class="d-block position-absolute" alt="fondoSlider" style="z-index: 0;">
      <div class="carousel-caption d-none d-md-block">
        <iframe class="video" src="https://drive.google.com/file/d/1KxsyHKIyUq8A0Rv09ARczjF3V-HTY6G8/preview" allow="autoplay"></iframe>
        <!-- <iframe class="video" src="https://www.youtube.com/embed/xw7Y2gviWbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <!-- <iframe src="https://drive.google.com/file/d/1xH3UWuhfAJEvT-GETsUGHCRWELhci0z0/preview" style="width: 70%; padding: 20px" height="760"></iframe> -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer class="position-absolute footer"></app-footer>
